.js_FAQs_section {
    margin: 160px 8.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 18px;
        margin: 14px 0 80px;
    }

    .js-faqs-cont {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        position: relative;

        .js-faqs-card-cont {
            width: 38vw;
            min-height: 350px;
            border-radius: 14px;
            border: 1px solid #262626;
            padding: 50px;


            h2 {
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                padding-bottom: 30px;
                border-bottom: 1px solid #262626;
            }

            p {
                padding-top: 30px;
            }

        }

        .js-black-shadow-cont {
            width: 94%;
            height: 60vh;
            background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #191919 100%);
            position: absolute;
            bottom: 0;
        }
    }

    .js-faqs-loadall-btn {
        min-width: 11vw;
        border-radius: 100px;
        gap: 4px;
        padding: 18px 24px;
        margin-top: 10px;
    }

    .js-btn-hide {
        display: none;
    }


}



@media (max-width: 1440px) {
    .js_FAQs_section {
        margin: 120px 5.6vw;

        h1 {
            font-size: 38px;
        }

        p {
            font-size: 16px;
            margin: 10px 0 60px;
        }

        .js-faqs-cont {
            gap: 20px;

            .js-faqs-card-cont {
                width: 43vw;
                min-height: 300px;
                padding: 40px;


                h2 {
                    font-size: 18px;
                    padding-bottom: 24px;
                }

                p {
                    padding-top: 24px;
                }

            }

            .js-black-shadow-cont {
                width: 99%;
            }
        }
    }


}

@media (max-width : 992px) {
    .js_FAQs_section {
        margin: 100px 4vw;

        h1 {
            font-size: 28px;
            text-align: center;
        }

        p {
            font-size: 14px;
            text-align: center;
            margin: 10px 0 50px;

        }

        .js-faqs-cont {

            .js-faqs-card-cont {
                width: 90vw;
                padding: 30px;

            }

        }
    }

}