.ak_hero {
    width: 95%;
    max-width: 1569px;
    margin: 120px auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-color: var(--light-bg);
    background-image: url("/Images/CareersPage/hero Texture.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 250px;
    border-radius: 16px;
    overflow: hidden;

    img {
        position: relative;
        z-index: 2;
        width: 70%;
        max-width: 968px;
        height: auto;
        border-radius: 20px;
    }

}

.ak-hero-margin {
    margin-top: 198px;
}




@media (max-width: 1440px) {
    .ak_hero {
        img {
            width: 65%;
        }
    }



    .ak-hero-margin {
        margin-top: 153px;
    }
}

@media (max-width: 992px) {
    .ak_hero {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 14px;
        margin: 16px auto;

        img {
            width: 100%;
            position: static;
            margin-bottom: -50px;
        }
    }

    .ak-hero-margin {
        margin-top: 138px;
    }
}