.hs-products-container {
  display: flex;
  padding: 20px 0;
  gap: 20px;
}

.hs-section-margin {
  margin-top: 150px;
}

.hs-op-section {
  max-width: 1596px;
  width: 95%;
  margin: 0 auto;
}


@media (max-width: 1440px) {
  .hs-op-section {
    max-width: 1280px;
  }

  .hs-products-container {
    padding: 0px;
  }

  .hs-section-margin {
    margin-top: 120px;
  }
}

@media (max-width: 992px) {
  .hs-op-section {
    max-width: 100%;
  }

  .hs-flex-sm-col {
    flex-direction: column;
  }

  .hs-section-margin {
    margin-top: 80px;
  }
}
