/* =========================
   Inputs Container
========================= */
.mh-signin-inputs {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    place-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

/* Email Input */
.mh-signin-inputs input[type="email"],
.mh-signin-inputs input[type="text"] {
    height: 75px;
    border-radius: 88px;
    padding: 24px;
    background: #1A1A1A;
    border: 1px solid rgba(38, 38, 38, 1);
    color: #fff;
}

.mh-signin-inputs input::placeholder {
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    color: rgba(89, 89, 90, 1);
}

/* Password Input Wrapper */
.mh-password-wrapper {
    position: relative;
}

/* Password Input Field */
.mh-password-wrapper input {
    width: 100%;
    height: 75px;
    padding: 24px;
    border-radius: 88px;
    background: #1A1A1A;
    border: 1px solid rgba(38, 38, 38, 1);
    color: #fff;
}

/* Eye Icon to toggle password */
.mh-password-eye {
    position: absolute;
    right: 29.25px;
    top: 29.25px;
    width: 21.53px;
    height: 16.5px;
    cursor: pointer;
    z-index: 2;
}


/* =========================
   Media Queries
========================= */

@media screen and (max-width:1440px) {

    .mh-signin-inputs {
        gap: 24px;
        margin-bottom: 30px;
    }

    .mh-signin-inputs input[type="email"],
    .mh-signin-inputs input[type="text"] {
        /* max-width: 320px; */
        height: 64px;
        padding: 20px;
    }

    .mh-signin-inputs input::placeholder {
        font-size: 16px;
    }

    .mh-password-wrapper {
        position: relative;
        /* max-width: 320px; */
        /* height: 64px; */
    }

    .mh-password-wrapper input {
        height: 64px;
        padding: 20px;
    }

    .mh-password-eye {
        width: 17.94px;
        height: 13.75px;
        top: 25.12px;
        right: 25.12px;

    }
}

@media screen and (max-width:1250px) {
    .mh-signin-inputs {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 24px;
    }

    .mh-signin-inputs input[type="email"],
    .mh-signin-inputs input[type="text"] {
        height: 56px;
        padding: 16px;
    }
}

@media screen and (max-width:992px) {

    .mh-signin-inputs {
        grid-template-columns: 298px;
        gap: 20px;
        margin-bottom: 24px;
    }

    .mh-signin-inputs input[type="email"],
    .mh-signin-inputs input[type="text"] {
        height: 56px;
        padding: 16px;
    }

    .mh-signin-inputs input::placeholder {
        font-size: 16px;
    }

    .mh-password-wrapper {
        width: 298px;
    }

    .mh-password-wrapper input {
        height: 56px;
        padding: 16px;
    }

    .mh-password-eye {
        top: 21.12px;
        right: 21.12px;
    }


}