


.ma-container-slider{
    position: relative; 
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ma-slider-wrapper-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ma-slider-wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
    order: 2;
    flex: 1;
}
.ma-slider-wrapper::before,
.ma-slider-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px; 
    height: 100%;
    z-index: 10;
    pointer-events: none; 
}
.ma-slider-wrapper::before {
    left: 0;
    background: linear-gradient(to right, var(--text-button-dark-) 50%, rgba(28, 28, 28, 0) 100%);
}
.ma-slider-wrapper::after {
    right: 0;
    background: linear-gradient(to left, var(--text-button-dark-) 50%, rgba(28, 28, 28, 0) 100%);
}
.ma-fcontrols{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 20px;
    padding-left: 0;

}
.ma-fcontrols .ma-leftbtn,.ma-scontrols .ma-rightbtn{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: var(--br-light);
    flex-shrink: 0;
    display: flex;       
    justify-content: center; 
    align-items: center;
}

.ma-scontrols{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 0;
}
.slider-container{
    max-width: 1372px;
    gap: 80px;
}
.slider-container .card{
    width: 404px;
    flex-shrink: 0;
} 
.card .img-container{
    width: 404px;
    height: 60px;
    position: relative;
    z-index: 1;
    border-bottom:1px solid var(--br-light);
    .image2{
        position: absolute;
        bottom: -15px;;
        left: 50%;
        z-index: 3;
    }
}
.slider-container .card .paragraph{
    padding: 20px 0px;
}
.slider-container .card .paragraph p{
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
}
.slider-container .card .name {
    padding-top: 10px;
    text-align: center;
}

.slider-container .card .name span{
    font-size: 18px;
    
}

@media (max-width:1440px) {
.ma-fcontrols{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 40px;
    padding-left: 0;

}
.slider-container{
    max-width: 1096px;
    gap: 60px;
}
.slider-container .card{
    width: 325.33px;
    /* height: 292px; */
    flex-shrink: 0;
} 
.ma-slider-wrapper::before {
    left: 0;
    background: linear-gradient(to right, var(--text-button-dark-) 40%, rgba(28, 28, 28, 0) 100%);
}.ma-slider-wrapper::after {
    right: 0;
    background: linear-gradient(to left, var(--text-button-dark-) 40%, rgba(28, 28, 28, 0) 100%);
}
.card .img-container{
    width: 325.33px;
    height:44px;
    position: relative;
    z-index: 1;
    border-bottom:1px solid var(--br-light);
    .image2{
        position: absolute;
        bottom: -15px;;
        left: 50%;
        z-index: 3;
    }
}
.slider-container .card .paragraph {
    padding: 40px 0px;
    text-align: center;
}
.slider-container .card .paragraph p{
    font-size: 16px;
}
.slider-container .card .name {
    padding-bottom: 10px;
    padding-top: 0;
    text-align: center;
}
}

@media (max-width: 992px) {
    .ma-container-slider {
        display: flex;
        flex-direction: row !important; 
        flex-wrap: wrap; 
        justify-content: center;
        padding: 0 16px;
        width: 100%;
        margin-top: 40px;
        gap: 20px; 
    }

.ma-slider-wrapper-parent {
        width: 100%; 
        order: 1; 
    }

    .ma-fcontrols, .ma-scontrols {
        position: static; 
        padding: 0 !important; 
        margin: 0; 
        order: 2; 
        display: flex; 
        width: auto;
    }
    
    .ma-fcontrols {
        margin-right: 10px; 
    }
}


