.ma-container-slider {
    position: relative;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 50px;
}
.ma-slider-wrapper-parent {
    flex: 1;
    overflow: hidden;
    position: relative;
}
.ma-slider-wrapper {
    position: relative;
    width: 100%;
}
.slider-container {
    display: flex;
    gap: 80px; 
    transition: transform 0.5s ease-in-out;
}
.slider-container .card {
    width: calc((100% / 3) - (160px / 3));; 
    flex-shrink: 0;
}
.ma-fcontrols{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 20px;
    padding-left: 0;
}

.ma-fcontrols .ma-leftbtn,.ma-scontrols .ma-rightbtn{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: var(--br-light);
    flex-shrink: 0;
    display: flex;       
    justify-content: center; 
    align-items: center;
}

.ma-scontrols{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 0;
}
.card .img-container{
    height: 60px;
    position: relative;
    z-index: 1;
    border-bottom:1px solid var(--br-light);
    .image2{
        position: absolute;
        bottom: -15px;;
        left: 50%;
        z-index: 3;
    }
}
.slider-container .card .paragraph{
    padding: 20px 0px;
}
.slider-container .card .paragraph p{
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
}
.slider-container .card .name {
    padding-top: 10px;
    text-align: center;
}
.slider-container .card .name span{
    font-size: 18px;
}


/* Fade Out Left */
.fade-left {
    position: absolute;
    width: 398px; 
    height: 100%; 
    left: 0;
    top: 0;
    background-image: url('/Images/HomePage/Fade Out Left.png');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    z-index: 3; 
    pointer-events: none; 
} 

/* Fade Out Right */
.fade-right {
    position: absolute;
    width: 400px;
    height: 100%; 
    right: 0;
    top: 0;
    background-image: url('/Images/HomePage/Fade Out Right.png');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: normal;
    z-index: 4;
    pointer-events: none;
} 


/*1440*/
@media (max-width:1440px) {

.ma-container-slider {
    padding: 0px 80px;
    position: relative;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 40px;
}
.slider-container {
    display: flex;
    gap: 60px; 
    transition: transform 0.5s ease-in-out;
}
.slider-container .card {
    width: calc((100% / 3) - (120px / 3));; 
    flex-shrink: 0;
}
.ma-fcontrols{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 10px;
    padding-left: 0;
}

.ma-scontrols{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 10px;
    padding-right: 0;
}
.slider-container .card .paragraph p{
    padding-top: 40px;
    font-size: 16px;
    text-align: center;
}
.fade-left {
        background-image: linear-gradient(to right, #1c1c1c 0%, rgba(28, 28, 28, 0) 100%) !important;
        width: 180px;
    }

    .fade-right {
        background-image: linear-gradient(to left, #1c1c1c 0%, rgba(28, 28, 28, 0) 100%) !important;
        width: 180px;
    }

}
@media (max-width:992px) {
.ma-container-slider {
    padding: 0px 40px;
    position: relative;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px;
}
.slider-container {
    display: flex;
    gap: 50px; 
    transition: transform 0.5s ease-in-out;
}
.slider-container .card {
    width: calc((100% / 2) - (100px / 2));
    flex-shrink: 0;
}
.slider-container .card .paragraph p{
    padding-top: 40px;
    font-size: 14px;
    text-align: center;
}
.fade-left {
        background-image: linear-gradient(to right, #1c1c1c 0%, rgba(28, 28, 28, 0) 100%) !important;
        width: 180px;
    }


    .fade-right {
        background-image: linear-gradient(to left, #1c1c1c 0%, rgba(28, 28, 28, 0) 100%) !important;
        width: 180px;
    }

}

@media (max-width:700px) {
.ma-container-slider {
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center;
}
.ma-slider-wrapper-parent {
    order: 1; 
    flex: 0 0 100%;
    width: 100%;
    }
.slider-container {
    order: 1;
    transition: transform 0.5s ease-in-out;
}

.slider-container .card {
    width:100%; 
    flex-shrink: 0;
}
.ma-fcontrols, .ma-scontrols {
    order: 2; 
    padding: 0 !important;
    display: inline-flex;
    justify-content: center;
}

.ma-fcontrols {
    margin-right: 10px; 
}
.fade-left{
    width: 85px;
}
.fade-right{
    width: 150px;
}
}
