.ma-hero-container {
  display: flex;
  gap: 140px;
  margin: 298px auto 0;
  width: 95%;
  max-width: 1596px;
}


/* ================= Left ================= */

.ma-hero-left {
  width: 42vw;
  max-width: 825.9px;
}

.ma-icon-text {
  width: 357px;
  height: 44px;
  gap: 6px;
  background-color: var(--lighter-bg);
  border-radius: 61px;
  padding-left: 14px;
}

.ma-hero-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 48px;
  color: var(--text-white);
}

.ma-hero-description {
  font-weight: 300;
  margin-top: 14px;
  font-size: 18px;
  color: var(--text-light);
}

.ma-hero-btn {
  min-width: 183px;
  height: 63px;
  border-radius: 82px;
  padding: 18px 30px;
  box-sizing: border-box;
  margin-top: 50px;
  font-weight: 400;
  font-size: 18px;
  color: var(--light-bg);
  background-color: var(--primary-color);
}

/* ================= Right ================= */

.ma-hero-right {
  display: flex;
  position: relative;
  bottom: 54px;
}

.ma-hero-image-0 {
  width: 21.8vw;
  height: 383px;
  position: absolute;
  right: -7vw;
  top: 36px;
}

.ma-hero-image-1 {
  width: 33.8vw;
  height: 79vh;
  max-width: 540px;
  max-height: 720px;
  z-index: 1;
}

/* ================= Responsive ================= */

@media screen and (max-width:1440px) {
  .ma-hero-container {
    margin-top: 193px;
    max-width: 1280px;
    width: 88.9%;
    gap: 100px;
  }



  .ma-icon-text {
    width: 278px;
    height: 40px;
  }

  .ma-icon-text .ma-text {
    font-size: 14px;
  }

  .ma-hero-title {
    font-size: 38px;
    margin-top: 16px;
  }

  .ma-hero-description {
    margin-top: 10;
    font-size: 16px;
  }

  .ma-hero-right {
    position: relative;
    bottom: 35px;
    margin-left: 8vw;
  }

  .ma-hero-btn {
    min-width: 144px;
    height: 49px;
    border-radius: 82px;
    padding: 14px 24px;
    margin-top: 40px;
    font-size: 14px;
  }

  .ma-hero-image-0 {
    width: 20vw;
    min-width: 260px;
    height: 275px;
    right: -4.8vw;
  }

  .ma-hero-image-1 {
    width: 28.5vw;
    min-width: 385px;
    height: 525px;
    z-index: 1;
  }
}

@media screen and (max-width:992px) {
  .ma-hero-container {
    width: 91.5%;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 158px;
    align-items: center;


  }

  .ma-hero-left {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ma-icon-text {
    width: 245px;

    .ma-icon {
      width: 17px;
      height: 17px;
    }
  }

  .ma-icon-text .ma-text {
    font-size: 12px;
  }

  .ma-hero-title {
    font-size: 28px;
    margin-top: 12px;
  }

  .ma-hero-description {
    margin-top: 8px;
    font-size: 14px;
  }

  .ma-hero-btn {
    margin-top: 30px;
    font-size: 12px;
  }

  .ma-hero-right {
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-top: 80px;
    width: 100%;
    height: 386px;
  }

  .ma-hero-image-0 {
    width: 210px;
    height: 201px;
    right: 55%;
    top: 50%;
    transform: translate(80%, -95%) !important;
  }

  .ma-hero-image-1 {
    width: auto;
    min-width: 305px;
    height: 386px;
  }
}
