.ak-hero {
    max-width: 1596px;
    width: 95%;
    margin: 198px auto 150px;
border-radius: 20px;
    background-color: #1C1C1C;
    padding: 50px;
        background-image: url("/Images/CareersPage/hero Texture.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 505px 480px;
}
.ak-hero-wrapper {
    position: relative;
        display: flex;
    justify-content: flex-end;
    width: 100%;
}


@media (max-width: 1440px) {
.ak-hero {
    max-width: 1280px;
    margin: 153px auto 120px;
            background-size: 334px 317px;

}

    .ak-hero-image-container {
    img {
        width: 715px;
    }
    }
}



@media (max-width: 992px) {
.ak-hero {
    padding: 14px;
    margin-bottom: 120px;
        background-size: 199px 189px;

}
    .ak-hero-wrapper {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 14px;
        margin: 16px auto;
        padding: 0;

        img {
            width: 100%;
            position: static;
            margin-bottom: -50px;
        }
    }

    .ak-hero-margin {
        margin: 80px auto;
    }
}
