.ak_cardandbutton {
        padding: 20px;
        border-radius: 10px;
        width: 182px;

        img {
                height: auto;
        }

        p {
                font-weight: 300;
                width: 160px;
                font-size: 18px;
                line-height: 150%;
                color: var(--text-description);
        }

}

.ak_cardandbutton:nth-child(1),
.ak_cardandbutton:nth-child(2) {
        border-right: 1px dashed #262626;
        border-radius: 0px;
}


@media (max-width:1440px) {
        .ak_cardandbutton {
                padding: 20px;
                border-radius: 10px;
                max-width: 182px;
                width: 30%;

                img {
                        height: 35px;
                }

                p {
                        font-size: 15px;

                }
        }
}

@media (max-width:992px) {
        .ak_cardandbutton {
                width: 100%;
                margin: 10px auto;
                padding: 15px;
                flex: 1;

                p {
                        font-size: 12px;
                        width: 100%;
                        margin-bottom: 5px;
                }
        }

        .ak_cardandbutton:nth-child(1),
        .ak_cardandbutton:nth-child(2) {
                border-right: 0px;
                border-bottom: 1px dashed #262626;
        }
}