.ak_cardandbutton {
        border-radius: 10px;
        text-align: center;
        width: 182px;
        opacity: 1;
        box-sizing: border-box;
        position: relative;
        border: none;


        img {
                height: auto;
                opacity: 1;

        }

        p {
                font-weight: 300;
                width: 160px;
                font-size: 18px;
                line-height: 150%;
                color: var(--text-description);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;

        }
}
.ak_cardandbutton:nth-child(1)::after,
.ak_cardandbutton:nth-child(2)::after {
        content: "";
        position: absolute;
        right: -25px;
        top: 0;
        height: 100%;
        width: 1px;
        background-image: linear-gradient(to bottom, #444 50%, transparent 0%);
        background-size: 1px 15px;
        background-repeat: repeat-y;}



@media (max-width:1440px) {
        .ak_cardandbutton {
                border-radius: 10px;
                text-align: center;
                max-width: 136px;
                opacity: 1;
                width: 30%;
        }
        .ak_cardandbutton:nth-child(1)::after,
        .ak_cardandbutton:nth-child(2)::after {
        right: -50px;
        height: 100%;
        top: 0;
        background-size: 2px 18px;
        }
}

@media (max-width:992px) {
        .ak_cardandbutton {
                width: 100%;
                margin: 10px auto;
                padding: 15px;
                flex: 1;

                p {
                        font-size: 12px;
                        width: 100%;
                        margin-bottom: 5px;
                }
        }
        .ak_cardandbutton:nth-child(1)::after,
        .ak_cardandbutton:nth-child(2)::after {
        right: 10%;
        bottom: 0;
        top: auto;
        width: 80%;
        height: 2px;
        background-image: linear-gradient(to right, #444 60%, transparent 0%);
        background-size: 20px 2px;
        background-repeat: repeat-x;
        }

}
