.hs-product-card {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1;
  padding-right: 50px;
  position: relative;
}

.hs-product-card:nth-child(2) {
  padding-right: 50px;
  padding-left: 49px;
}

.hs-product-card:last-child {
  padding-right: 0;
  padding-left: 49px;
}

.hs-product-card:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: var(--br-light);
}


.hs-product-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.hs-product-info {
  text-align: center;

  h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;

  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

}

.hs-inner-circle {
  width: 74px;
  height: 74px;
  border-radius: 50%;

}

.hs-outer-circle {
  width: 98px;
  height: 98px;
  border-radius: 50%;

}



@media (max-width: 1440px) {

  .hs-product-info {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }
  }

  .hs-product-card {
    padding-right: 40px;
  }

  .hs-product-card:nth-child(2) {
    padding-right: 40px;
    padding-left: 39px;
  }

  .hs-product-card:last-child {
    padding-right: 0;
    padding-left: 39px;
  }
}


@media (max-width: 992px) {
  .hs-product-card {
    gap: 20px;
    flex: 1;
    padding: 0 0 30px 0;
  }

  .hs-product-info {
    p {
      font-size: 14px;
    }
  }

  .hs-inner-circle {
    width: 56px;
    height: 56px;

  }

  .hs-glow-border {
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(202, 255, 51, 0.2) -173.65%, rgba(202, 255, 51, 0) 87.22%);

  }

  .hs-outer-circle {
    width: 72px;
    height: 72px;

  }

  .hs-product-card {
    padding: 0 0 50px 0;
    margin-bottom: 50px;

  }

  .hs-product-card:not(:last-child)::after {
    right: auto;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    top: auto;

  }


  .hs-product-card {
    padding: 0px;
  }

  .hs-product-card:nth-child(2) {
    padding: 0px;
  }

  .hs-product-card:last-child {
    padding: 0px;
  }
}
