.js_FAQs_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 150px auto;
    width: 95%;
    max-width: 1596px;

    h1 {
        font-size: 48px;
        align-self: flex-start;
    }

    p {
        font-size: 18px;
        margin: 14px 0 80px;
        align-self: flex-start;

    }

    .js-faqs-cont {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;

        .js-faqs-card-cont {
            min-height: 300px;
            max-height: 347px;
            border-radius: 14px;
            border: 1px solid #262626;
            padding: 50px;
            max-width: 782px;
            width: 49%;


            h2 {
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                padding-bottom: 30px;
                border-bottom: 1px solid #262626;
            }

            p {
                padding-top: 30px;
            }

        }

        .js-black-shadow-cont {
            width: 99%;
            height: 60vh;
            background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #1A1A1A 100%);
            position: absolute;
            bottom: 0;
        }
    }

    .js-faqs-loadall-btn {
        background-color: var(--primary-color);
        color: var(--text-button-dark-);
        min-width: 11vw;
        border-radius: 100px;
        padding: 18px 24px;
        margin-top: 30px;

        img {
            margin-left: 5px;
        }
    }

    .js-btn-hide {
        display: none;
    }


}


@media (max-width: 1440px) {
    .js_FAQs_section {
        /* margin: 120px 5.6vw; */
        max-width: 1279px;
margin: 120px auto;
        h1 {
            font-size: 38px;
        }

        p {
            font-size: 16px;
            margin: 10px 0 60px;
        }

        .js-faqs-cont {
            gap: 18px;
            .js-faqs-card-cont {
                max-width: 629.5px;
                min-height: 300px;
                padding: 40px;


                h2 {
                    font-size: 18px;
                    padding-bottom: 24px;
                }

                p {
                    padding-top: 24px;
                }

            }
        }
    }


}

@media (max-width : 992px) {
    .js_FAQs_section {

margin: 80px auto;
        h1 {
            font-size: 28px;
            text-align: center;
            align-self: center;

        }

        p {
            text-align: center;
            font-size: 14px;
            margin: 10px 0 50px;
            align-self: center;

        }

        .js-faqs-cont {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .js-faqs-card-cont {
                width: 90vw;
                max-width: 100%;
                padding: 27px;

                h2 {
                    padding-bottom: 20px;
                }

                p {
                    text-align: start;
                    margin: 0px;
                    padding-top: 20px;
                    font-weight: 300;
                    font-size: 14px;
                }
            }

            .js-black-shadow-cont {
                width: 100%;
            }

        }
    }

}
