.ak_use{
    margin: 132px 100px;
    .ak_tittle{
        font-weight: 500;
        font-style: Medium;
        font-size: 48px;
        line-height: 150%;
        letter-spacing: 0%;

    }
    .ak_dscription{
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    }
    
}
@media (max-width:992px){
    .ak_use{
        margin: 40px 15px;
    }
    
}