/* Container centered on coordinates */
.custom-cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  will-change: transform;
}



.cursor-outline {
  width: 40px;
  height: 40px;
  border: 1.5px solid #caff00;
  border-radius: 50%;
  position: absolute;
}

.cursor-dot {
  width: 6px;
  height: 6px;
  background-color: #caff00;
  border-radius: 50%;
  position: absolute;
}
