nav {
    position: fixed;
    background-color: var(--light-bg);
    width: 82vw;
    padding: 15px 34px;
    line-height: 150%;
    border-radius: 100px;
    top: 40px;
    left: 8vw;
    z-index: 5;

    .js_mobile_button {
        background-color: var(--primary-color);
        padding: 6px 14px;
        border-radius: 82px;
    }

    .js_logo {
        height: 40px;
    }

    ul {
        display: flex;
        gap: 26px;


        a {
            color: var(--text-white);


            &.active {
                background-color: var(--lighter-bg);
                border-radius: 82px;
                padding: 12px 24px;
            }
        }


    }

    .js_signUp_logIn {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            color: var(--text-white);
        }

        button {
            a {
                color: var(--text-button-dark-);

            }

            border-radius: 82px;
            padding: 14px 30px;
            background-color: var(--primary-color);

        }
    }

}

.js_mobile_nav {
    display: none;
}

@media (max-width: 1440px) {
    nav {
        width: 89vw;
        top: 30px;
        left: 5vw;
        padding: 10px 24px;

        .js_logo {
            height: 25px;
        }

        ul {
            a {
                &.active {
                    padding: 10px 18px;
                }
            }
        }

        .js_signUp_logIn {
            gap: 20px;

            button {
                padding: 12px 24px;
            }
        }

    }
}


@media (max-width: 992px) {
    body {
        max-width: 100%;

        nav {
            width: 91vw;
            padding: 14px 14px 14px 24px;

            .js_logo {
                height: 20px;
            }

            ul {
                display: none;
            }

            .js_signUp_logIn {
                display: none;
            }

            .js_strokes {
                height: 14px;
                margin-top: 2px;

            }
        }

        .js_mobile_nav {
            display: block;
        }

        /* .js_mobile_list_container { */

        .js_mobile_list {
            padding-top: 50px;
            background-color: rgba(32, 32, 32, 0.452);
            backdrop-filter: blur(10px);
            height: 100vh;
            width: 100vw;
            line-height: 400%;
            text-align: center;
            border-radius: 10px;
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            z-index: 6;
            transform: translateX(100%);
            transition: all 0.3s ease-in-out;


            li:not(:last-child) {
                border-bottom: 1px solid #2626262a;
            }

            a {
                color: var(--primary-color);

            }
        }

        .js_slide_nav_list {
            display: block;
            transform: translateX(0);
        }

        /* } */
    }

}