.ak_tittlehero {
    max-width: 700px;
    width: 100%;
    height: auto;
    padding: 80px;
    gap: 23px;
    opacity: 1;
    background-color: var(--bg-main);
    border: 2px solid var(--bg-main);
    border-radius: 20px 0 80px 20px;
    position: absolute;
    z-index: 10;
    top: 62%;
    left: 50px;
    transform: translateY(-88%);

    h1 {
        font-weight: 500;
        font-size: 57px;
        line-height: 130%;
        letter-spacing: 0%;
        margin-bottom: 23px;
        color: var(--text-white);
        span {
            color: var(--text-special);
        }
    }

    p {
        font-weight: 300;
        font-style: Light;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%;
        color: var(--text-description);
    }
}



@media (max-width: 1440px) {
    .ak_tittlehero {
        width: 50%; 
        left: 40px;
        padding: 70px;
        top: 33%;
        transform: translateY(-89%);
        h1 {
            font-size: 48px;
        }

        p {
            font-size: 16px;
        }
    }
}
@media (max-width: 1300px) {
    .ak_tittlehero {
        width: 50%;
        left: 40px;
        padding: 50px;
        top: 59%;
        transform: translateY(-97%);
        h1 {
            font-size: 45px;
        }

        p {
            font-size: 14px;
        }
    }
}
@media (max-width: 1200px) {
    .ak_tittlehero {
        width: 50%;
        left: 40px;
        padding: 50px;
        top: 59%;
        transform: translateY(-79%);
        h1 {
            font-size: 45px;
        }

        p {
            font-size: 14px;
        }
    }
}
@media (max-width: 1100px) {
    .ak_tittlehero {
        width: 53%;
        left: 40px;
        padding: 50px;
        top: 59%;
        transform: translateY(-70%);
        h1 {
            font-size: 48px;
        }

        p {
            font-size: 16px;
        }
    }
}
@media (max-width: 390px) {
    .ak_tittlehero {
        position: static;
        width: 100%;
        transform: translateY(0);
        border-radius: 20px;
        text-align: center;
        padding: 28px;

        h1 {
            font-size: 28px;
        }

        p {
            font-size: 18px;
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .ak_tittlehero {
        position: static;
        width: 100%;
        transform: translateY(0);
        border-radius: 20px;
        text-align: center;
        padding: 24px;

        h1 {
            font-size: 28px;
        }

        p {
            font-size: 14px;
            width: 100%;
        }
    }
}