.ak_use {
    width: 95%;
    max-width: 1596px;
    margin: 150px auto;

    .ak_tittle {
        font-weight: 500;
        font-style: Medium;
        font-size: 48px;

    }

    .ak_dscription {
        font-weight: 300;
        font-style: Light;
        font-size: 18px;
        line-height: 150%;

    }
}

@media (max-width:1440px) {
    .ak_use {
        max-width: 1280px;
        margin: 120px auto;
        width: 95%;
    }
}

@media (max-width:992px) {
    .ak_use {
        margin: 80px auto;
    }
}
