/* .ak-inner-circle {
  width: 74px;
  height: 74px;
  border-radius: 50%;

}

.ak-outer-circle {
  width: 98px;
  height: 98px;
  border-radius: 50%;

} */


.ak_for_individuals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    gap: 40px;

    &.revers {
        flex-direction: row-reverse;
    }

    .ak_productdata {
        background-image: url('./././././Images/HomePage/Texture - Left.png');
        background-size: 224px 214px;
        background-repeat: no-repeat;
        background-color: var(--light-bg);
        border-radius: 20px;
        max-width: 748px;
        gap: 20px;
        opacity: 1;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 40px;
    }

    .ak_countinar {
        width: 748px;
        gap: 14px;
        opacity: 1;
        margin-bottom: 40px;

        .tittle_variant {
            h1 {
                color: var(--text-white);
                font-weight: 500;
                font-style: Medium;
                font-size: 30px;
                line-height: 150%;
                letter-spacing: 0%;
            }

            p {
                font-weight: 300;
                font-size: 18px;
                line-height: 150%;
                padding: 5px;
            }
        }

        .ak_card_grids {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 100%;
            margin: 30px 0;

            img {
                margin-bottom: 20px;
            }
        }

        .ak_button {
            width: 148px;
            opacity: 1;
            border-radius: 60px;
            border: 2px solid var(--lighter-bg);
            background-color: var(--lighter-bg);
            padding: 18px 24px;
            font-size: 18px;

            &:hover {
                        background-color: transparent;
        color: var(--primary-color);
        transform: translateY(-3px);
            }

        }

    }
}

@media (max-width:1440px) {

    .ak_for_individuals {
        max-width: 1280px;
        width: 95%;
    }


}

@media (max-width:1440px) {

    .ak_for_individuals {
        .ak_countinar {
            max-width: 748px;
            gap: 14px;
            opacity: 1;
            margin-bottom: 40px;
            width: 50%;
        }
    }

    .ak_for_individuals {
        .ak_productdata {
            max-width: 610px;
            width: 50%;
            padding: 40px;
        }
    }

}

@media (max-width:992px) {
    .ak_for_individuals {
        width: 100%;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        gap: 20px;

        &.revers {
            flex-direction: column !important
        }

        .ak_productdata {
            width: 100% !important;
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            padding: 10px;

            .tittle_variant {
                h1 {
                    font-size: 24px;
                    width: 100%;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .ak_countinar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
        }

        .ak_card_grids {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;

            img {
                margin: 0 auto;
            }
        }

    }
}
