.ak_for_individuals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    gap: 40px;
    max-width: 1596px;
    width: 95%;

    &.revers {
        flex-direction: row-reverse;
    }

    .ak_productdata {
        flex: 1;
        max-width: 748px;
        min-width: 0;
        background-image: url('./././././Images/HomePage/Texture - Left.png');
        background-size: 224px 214px;
        background-repeat: no-repeat;
        background-color: var(--light-bg);
        border-radius: 20px;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        gap: 20px;
        margin-bottom: 40px;
    }

    .ak_countinar {
        gap: 14px;
        flex: 1;
        max-width: 748px;
        min-width: 0;
        opacity: 1;

        .tittle_variant {
            h1 {
                color: var(--text-white);
                font-weight: 500;
                font-style: Medium;
                font-size: 30px;
                line-height: 150%;
                letter-spacing: 0%;
            }

            p {
                font-weight: 300;
                font-size: 18px;
                line-height: 150%;
                margin-top: 14px;
                margin-bottom: 62px;
            }
        }

        .ak_card_grids {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 100%;
            margin: 30px 0;

            img {
                margin-bottom: 20px;
            }
        }



        .ak_button {
            width: 148px !important;
            height: 63px;
            font-size: 18px !important;
            opacity: 1;
            border-radius: 82px;
            border: 2px solid #262626;
            background-color: #1c1c1c;
            font-weight: 400;
            padding: 18px 22px;
            margin-top: 62px;

            &:hover {
                background-color: transparent;
                color: var(--primary-color);
                transform: translateY(-3px);
            }
        }
    }
}

@media (max-width:1440px) {
    .ak_for_individuals {
        width: 100%;
        margin-top: 40px;

        .ak_productdata {
            max-width: 610px;
            gap: 10px;
            padding: 40px;

        }

        .ak_countinar {
            align-self: flex-start;
            width: 610px;
            gap: 10px;

            .tittle_variant {
                h1 {
                    font-size: 26px;

                }

                p {
                    font-size: 16px;
                    padding: 0px;
                }
            }

            .ak_card_grids {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 50px 0;

                img {
                    margin-bottom: 20px;
                    width: 136px;
                }
            }


            .ak_cardandbutton {
                p {
                    font-size: 15px;

                }
            }

            .ak_button {
                width: 148px;
                border-radius: 84px;
                border: 2px solid #262626;
                background-color: #1c1c1c;
                padding: 14px 20px;
                font-size: 14px;

                &:hover {
                    background-color: transparent;
                    color: var(--primary-color);
                    transform: translateY(-3px);
                }

            }
        }
    }
}

@media (max-width:1440px) {
    .ak_for_individuals {
        .ak_productdata {
            flex: 1;
            max-width: 610px;
            padding: 40px;
        }

        .ak_countinar {
            flex: 2;
            max-width: 610px;
        }
    }
}

@media (max-width:992px) {
    .ak_for_individuals {
        width: 100%;
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        gap: 20px;
        margin: 40px auto;
        max-width: 358px;

        &.revers {
            flex-direction: column !important
        }

        .ak_productdata {
            width: 95% !important;
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            padding: 10px;
        }

        .tittle_variant {
            h1 {
                font-size: 24px;
                width: 100%;
            }

            p {
                font-size: 14px;
                margin-bottom: 0 !important;
            }
        }

        .ak_countinar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            align-self: center;
            gap: 50px;

            .ak_card_grids {
                margin: 0;
            }

            .ak_cardandbutton {
                max-width: 358px;

                p {
                    text-align: center;
                    align-items: center;
                }
            }
        }

        .ak_card_grids {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;

            img {
                margin: 0 auto;
            }
        }

    }

    .ak_for_individuals {
        & .ak_countinar {
            .ak_button {
                margin-top: 0;
            }
        }
    }
}
