.hs-pr-header {
  margin-bottom: 80px;
}

.hs-pr-header-title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 14px;
}

.hs-pr-header-description {
  color: var(--text-description);
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .hs-pr-header {
    margin-bottom: 60px;
  }
  .hs-pr-header-title {
    font-size: 38px;
  }
  .hs-pr-header-description {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .hs-pr-header {
    margin-bottom: 40px;
    text-align: center;
  }
  .hs-pr-header-title {
    font-size: 28px;
  }
  .hs-pr-header-description {
    font-size: 14px;
  }
}
