.button-to-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.button-to-up button {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 14px;
  color: #1A1A1A;
  cursor: pointer;

  /* التلاشي والتحريك */
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 1s ease, transform 1s ease; 
}

.button-to-up button.visible {
  opacity: 1;
  transform: translateY(0); 
}
