/* 1920px */
.ma-container {
    max-width: 1596px;
    gap: 300px;
    margin: 0 auto;
    width: 95%;
}
.ma-fsection p{
    padding-right: 2px;
    max-width: 910px;
    font-size: 16px;
}
.ma-btns{
    background-color: var(--light-bg);
    border-radius: 80px;
    border: 1px solid var(--br-light);
    padding: 14px;
    margin-top: 57px;
    display: flex;
}
.ma-btn {
    padding: 14px 14px;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-white);
    transition: all 0.4s ease;
}
.ma-btn.active {
    background-color: var(--primary-color);
    color: var(--text-button-dark-);
}
.ma-btn:hover:not(.active) {

    color: var(--text-white);
}

/* 1440px */
@media (max-width:1440px) {
.ma-container {
    max-width: 1280px;
    gap: 150px;
    }
    .ma-fsection p {
        max-width: 831px;
    }
    .ma-btn {
        padding: 10px 18px;
        font-size: 14px;
    }
}
/* 390px */
@media (max-width:992px) {
.ma-container {
    max-width: 358px;
    width: 95%;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.ma-fsection p{
    max-width: 358px;
    padding-top: 10px;
}
.ma-btns{
    margin-top: 20px;
}
.ma-btn{
    padding: 10px 18px ;
    font-size: 14px;
}
}
