/* 1920px */
.ma-container {
    gap: 300px;
}
.ma-fsection p{
    padding-right: 2px;
    max-width: 910px; 
    font-size: 16px;
}
.ma-btns{
    background-color: var(--light-bg);
    border-radius: 80px;
    border: 1px solid var(--br-light);
    padding: 6px;
    margin-top: 57px;
    display: flex;
}
.ma-btn {
    padding: 14px 24px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent; 
    color: var(--text-white);
    transition: all 0.4s ease; 
}
.ma-btn.active {
    background-color: var(--primary-color);
    color: var(--text-button-dark-);
}
.ma-btn:hover:not(.active) {
    
    color: var(--text-white);
}

/* 1440px */
@media (max-width:1440px) {
.ma-container {
        padding: 0 80px;
        gap: 150px;
    }
    .ma-fsection p {
        max-width: 831px; 
    }
    .ma-btn {
        padding: 10px 18px; 
        font-size: 14px;
    }
}
/* 390px */
@media (max-width:992px) {
.ma-container {
    padding: 0 16px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.ma-fsection p{
    max-width: 358px;
    padding-top: 10px;
}
.ma-btns{
    margin-top: 20px;
}
.ma-btn{
    padding: 10px 18px ;
    font-size: 14px;
}
}
