*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mh-login-page {
  margin: 198px 297px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 100px 150px;

  

    background:  url("/Images/LoginPage/Texture Background.webp"),  rgb(18, 18, 18,1);

background-blend-mode: overlay, normal;
 


     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
border: 1px solid #262626;

}
.mh-login-page .mh-mainTexture{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.mh-login-card {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.mh-title {
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  margin-bottom: 20px;
  color: #CAFF33;
}

.mh-desc {
  font-family: Lexend;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 80px;
  color: rgba(191, 191, 191, 1);
}
.mh-inputs{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.mh-inputs input[type="email"] {
  width: 498px;
  height: 75px;
  border-radius: 88px;
  padding: 24px;
  background: #1A1A1A;
  border: 1px solid rgba(38, 38, 38, 1)

}

.mh-inputs input::placeholder {
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  color: rgba(89, 89, 90, 1);

}


.mh-password-wrapper {
  width: 498px;
  position: relative;
}

.mh-password-wrapper input {
  width: 100%;
    height: 75px;
  padding: 24px; 
  border-radius: 88px;
  background: #1A1A1A;
  border: 1px solid rgba(38, 38, 38, 1);
  color: #fff;
}

.mh-password-eye {
  position: absolute;
  right: 25.5px; 
  top: 25.5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
  
}


.mh-forgot {
font-weight: 400;
font-size: 18px;
line-height: 150%;
color:rgba(255, 255, 255, 1);
text-decoration: underline !important;
}

.mh-btn-login {
  width: 518px;
  height: 63px;
  border-radius: 63px;
  padding: 18px 20px;
  margin-bottom: 24px;
  background: rgba(202, 255, 51, 1) !important;
  margin-top: 40px;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 150%;
  color: #262626 !important;


}

.mh-btn-signup {
  width: 518px;
  height: 63px;
  border-radius: 63px;
  padding-top: 18px 20px;
  margin-bottom: 24px;
  background: rgba(38, 38, 38, 1);
  border: 1px solid rgba(51, 51, 51, 1);
}
.mh-btn-signup a{
   font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  text-decoration: none;
}

.mh-divider {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 20px;
  margin-bottom: 30px;
}

.mh-divider span {
  background: #333;
  width: 165px;
  border: 1px solid rgba(179, 179, 179, 1)

}

.mh-divider p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  vertical-align: middle;
  color: rgba(179, 179, 179, 1);

}

.mh-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.mh-social-icon {
   position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
height: 94px;
border-radius: 70px;
padding: 12px;
background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0) 100%);


}

/* ====== Middle Glow Layer ====== */
.mh-social-icon::before {
  content: "";
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) -66.22%, rgba(202, 255, 51, 0) 85.46%);

  border: 1px solid;

border-image-source: linear-gradient(180deg, rgba(202, 255, 51, 0.2) -173.65%, rgba(202, 255, 51, 0) 87.22%);


  z-index: 0;
}

/* ================= Icon Image ================= */
.mh-social-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

@media screen and (max-width:1440px) {
  .mh-login-page {
  margin: 123px 188px 120px;
  border-radius: 16px;
  padding: 80px 200px;
 
}
.mh-login-page .mh-mainTexture{
  width: 256px;
  height: 243px;
}
.mh-title {
  font-size: 38px;
  margin-bottom: 16px;
}
.mh-desc {
  font-size: 16px;
  margin-bottom: 60px;
}
.mh-inputs{
  gap: 24px;
  margin-bottom: 30px;
}
.mh-inputs input[type="email"] {
  width: 320px;
  height: 64px;
  padding: 20px;
}
.mh-inputs input::placeholder {
  font-size: 16px;
}
.mh-password-wrapper {
  position: relative;
  width: 320px;
  /* height: 64px; */
}
.mh-password-wrapper input {
    height: 64px;
  padding: 20px; 
}
.mh-password-eye {
  width: 20px;
height: 20px;

}
.mh-forgot {
font-size: 16px;
}
.mh-btn-login {
  width: 404px;
  height: 49px;
  padding: 14px 24px;
  margin-top: 30px;
  font-size: 14px !important;
}
.mh-btn-signup {
  width: 404px;
  height: 49px;
  padding-top: 14px 24px;
}
.mh-btn-signup a{
  font-size: 14px;
}
.mh-divider {
  gap: 16px;
  margin-bottom: 24px;
}
.mh-divider span {
  width: 129px;
}
.mh-divider p {
  font-size: 14px;
}
.mh-social {
  gap: 20px;
}
.mh-social-icon {
  width: 68px;
  height: 68px;
  padding: 8px;
}
.mh-social-icon::before {
  width: 52px;
  height: 52px;
}
.mh-social-icon img {
  width: 24px;
  height: 24px;
}
}
@media screen and (max-width:992px) {
  .mh-login-page {
  margin: 138px 16px 80px;
  border-radius: 16px;
  padding: 30px;
 
}
.mh-login-page .mh-mainTexture{
  width:167px;
  height: 159px;
}
.mh-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.mh-desc {
  font-size: 14px;
  margin-bottom: 40px;
}
.mh-inputs{
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}
.mh-inputs input[type="email"] {
  width: 298px;
  height: 56px;
  padding: 16px;
}
.mh-inputs input::placeholder {
  font-size: 16px;
}
.mh-password-wrapper {
  width: 298px;
}
.mh-password-wrapper input {
    height:56px ;
  padding: 16px; 
}
.mh-password-eye {
  right: 16px;
  top: 18px;
}
.mh-forgot {
font-size: 14px;
}
.mh-btn-login {
  width: 298px;
  margin-top: 24px;
}
.mh-btn-signup {
  width: 298px;
}
.mh-btn-signup a{
  font-size: 14px;
}

.mh-divider span {
  width: 76px;
}

}