footer {
    margin-top: 150px;
    background-color: var(--light-bg);
    padding-left: 80px;
    padding-right: 80px;

    .tooltip {
        position: fixed;
        bottom: 110px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #222;
        color: #fff;
        border-radius: 6px;
        padding: 10px 20px;
        font-size: 14px;
        animation: all 0.5s ease-in-out;
    }

    .js_logo_url_cnt {
        width: 100%;
        padding: 100px 0px 50px;
        gap: 50px;
        border-bottom: 1px solid var(--lighter-bg);

        .js_logo {
            height: 30px;
        }

        ul {
            display: flex;
            justify-content: center;
            width: 20%;
            gap: 26px;

            a {
                color: var(--text-white);
            }


        }
    }

    .js_mail_num_loc_cnt {
        width: 100%;
        gap: 20px;
        padding: 50px 0px 50px;
        border-bottom: 1px solid var(--lighter-bg);

        .js_pic_text_align {
            display: flex;
            align-items: center;

            a,
            p {
                color: #E4E4E7;
            }
        }

        .js-footer-icons {
            height: 18px;
            margin-right: 6px;
        }
    }

    .js_sm_rps_cnt {
        border-radius: 100px;
        padding: 16px;
        margin: 50px 0px;
        width: 100%;
        background-color: var(--bg-main);
        max-width: 1596px;


        .js-sm-yellow-cont {
            background-color: var(--primary-color);
            border-radius: 100px;
            padding: 14px;
            margin-right: 10px;

        }

        .js-rights-cnt {
            p {
                font-weight: 300;
                font-size: 18px;
            }
        }

        .js-pr-ser-cnt {
            display: flex;

            p {
                padding: 0px 12px;
            }

            .js-service-p {
                border-left: 1px solid var(--text-white);
            }
        }
    }

}


@media (max-width: 1440px) {
    footer {
        margin-top: 120px;

        .js_logo_url_cnt {
            padding: 60px 0px 40px;
            gap: 40px;

            ul {
                display: flex;
                justify-content: center;
                width: 18%;
                gap: 14px;
            }
        }

        .js_mail_num_loc_cnt {
            padding: 40px 0px 40px;

            p {
                display: flex;
            }

            .js-footer-icons {
                height: 18px;
                margin-right: 6px;
            }
        }

        .js_sm_rps_cnt {
            padding: 12px 24px 12px 12px;
            margin: 40px 0px 30px;

            .js-sm-yellow-cont {
                padding: 12px;
                margin-right: 8px;

            }

            .js-rights-cnt {
                p {
                    font-size: 14px;
                }
            }

            .js-pr-ser-cnt {

                p {
                    padding: 0px 8px;
                }
            }
        }

    }
}


@media (max-width: 992px) {
    footer {
        margin-top: 80px;
        padding-left: 16px;
        padding-right: 16px;

        .js_logo_url_cnt {
            padding: 50px 0px 20px;
            gap: 24px;

            .js_logo {
                height: 34px;
            }

            ul {
                flex-wrap: wrap;
                width: 100%;
                gap: 14px;
            }
        }

        .js_mail_num_loc_cnt {
            gap: 20px;
            padding: 30px 0px;
            flex-wrap: wrap;

            .js_pic_text_align {
                p {
                    font-size: 14px;
                }

                img {
                    height: 17.5px;
                }
            }

            .js-footer-icons {
                height: 14px;
                margin-right: 4px;
            }
        }

        .js_sm_rps_cnt {
            border-radius: 12px;
            padding: 50px 16px 20px 16px;
            margin: 50px 0px;
            width: 100%;
            position: relative;
            flex-direction: column;

            .js-sm-cnt {
                position: absolute;
                bottom: 100px;

            }

            .js-sm-yellow-cont {
                padding: 12px;
            }

            .js-rights-cnt {
                p {
                    font-size: 14px;
                }
            }

            .js-pr-ser-cnt {
                margin-top: 10px;

                p {
                    font-size: 14px;

                    padding: 0px 8px;
                }

            }
        }

    }


}