.ak_cardcontiner {
    max-width: 314px;
    width: 48%;
    gap: 24px;
    opacity: 1;
    border-radius: 16px;
    padding: 20px;
    background-color: var(--bg-main);
    border: 2px solid var(--br-light);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;


    img {
        background-size: cover;
    }

    p {
        width: 100%;
        max-width: 212px;
        opacity: 1;
        text-align: center;
        color: var(--text-description);
    }
}

.bg-icon {
    background: var(--gradient);
}

.ak-inner-circle {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ak-outer-circle {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width:1440px) {

    .ak_cardcontiner {
        width: 47%;
        max-width: 260px;
        max-height: 174px;
        gap: 14px;
        padding: 24px;

    }

    .ak-inner-circle {
        width: 48px;
        height: 48px;

        img {
            width: 24px;
        }
    }

    .ak-outer-circle {
        width: 64px;
        height: 64px;

    }

}

@media (max-width:992px) {
    .ak_cardcontiner {
        width: 45%;
        gap: 14px;
        padding: 15px;
        margin: 10px auto;

        img {
            gap: 10px;
            opacity: 1;
            border-radius: 50px;
        }

        p {
            width: 100%;
            max-width: 126px;
            height: auto;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0%;
        }
    }

    .ak-inner-circle {
        width: 56px;
        height: 56px;

    }

    .ak-outer-circle {
        width: 72px;
        height: 72px;

    }
}