* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= Features Section ================= */
.mh-features-section {
    margin: 0 auto;
    background-color: #1A1A1A;
    color: #ffffff;
    font-family: 'Lexend';
    width: 95%;
    max-width: 1596px;
    margin-bottom: 150px;
}

/* ================= Features Section Header ================= */
.mh-features-header {
    padding-right: 300px;
    margin-bottom: 80px;
}

.mh-features-header h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    margin-bottom: 14px;
}

.mh-features-header h1 span {
    color: #CAFF33;
}

.mh-features-header p {
    font-weight: 300;
    line-height: 150%;
    color: #B3B3B3;
    font-size: 18px;

}

/* ================= Features Section Content Layout ================= */
.mh-features-content {
    display: grid;
    grid-template-columns: 308px 1fr;
    gap: 30px;
}

/* ================= Features Section Sidebar ================= */
.mh-features-sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #1C1C1C;
    border-radius: 12px;
    padding: 50px;
    height: 337px;
}

.mh-feature-btn {
    color: white;
    background: #262626;
    padding: 18px 22px;
    border-radius: 100px;
    border: 1px solid #262626;
    cursor: pointer;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

}

.mh-feature-btn.mh-feature-active {
    background: #1A1A1A;
    color: #CAFF33;
}

/* ================= Features Section Cards Grid ================= */
.mh-features-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* ================= Features Section Single Card ================= */
.mh-feature-card {
    background: #1C1C1C;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 50px;
    min-height: 272px;
}


/* ================= Features Section Card Header ================= */
.mh-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.mh-card-header h3 {
    font-size: 22px;
    line-height: 150%;
}

.mh-arrow {
    color: #b6ff3c;
    width: 18.42px;
    height: 18.42px;
}

/* ================= Features Section Card Text ================= */
.mh-feature-card p {
    line-height: 150%;
    color: #B3B3B3;
    font-weight: 300;
    font-size: 18px;
}

@media screen and (max-width:1440px) {
    .mh-features-section {
        max-width: 1280px;
        width: 88.8%;
        margin-bottom: 120px;
    }

    .mh-features-header {
        padding-right: 250px;
        margin-bottom: 60px;
    }

    .mh-features-header h1 {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .mh-features-header p {
        font-size: 16px;
    }

    .mh-features-content {
        grid-template-columns: 245px 1fr;
        gap: 20px;
    }

    .mh-features-sidebar {
        gap: 20px;
        border-radius: 10px;
        padding: 40px;
        height: 267px;
    }

    .mh-feature-btn {
        padding: 14px 18px;
        font-size: 14px;
    }

    .mh-features-cards {
        gap: 20px;
    }

    .mh-feature-card {
        border-radius: 10px;
        padding: 40px;
        min-height: 227px;
    }

    .mh-card-header {
        margin-bottom: 24px;
    }

    .mh-card-header h3 {
        font-size: 18px;
    }

    .mh-arrow {
        width: 13px;
        height: 13px;
    }

    .mh-feature-card p {
        font-size: 16px;
    }

}



@media screen and (max-width:992px) {
    .mh-features-section {
        width: 91.5%;
        margin-bottom: 80px;
    }

    .mh-features-header {
        padding-right: 0px;
        margin-bottom: 50px;
    }

    .mh-features-header h1 {
        font-size: 28px;
        text-align: center;
    }

    .mh-features-header p {
        font-size: 14px;
        text-align: center;
    }

    .mh-features-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .mh-features-sidebar {
        flex-direction: row;
        padding: 20px;
        overflow-x: scroll;
        overflow-y: hidden;
        height: auto;
    }

    .mh-features-sidebar::-webkit-scrollbar {
        display: none;
    }

    .mh-feature-btn {
        flex-shrink: 0;
        min-width: 144px;
        height: 49px;
    }

    .mh-features-cards {
        grid-template-columns: 1fr;
    }

    .mh-feature-card {
        padding: 30px;
        min-height: 212px;
    }

    .mh-card-header {
        margin-bottom: 20px;
    }

    .mh-feature-card p {
        font-size: 14px;
    }

}