.ma-mission-vision-container {
  margin: 0 162px;
  margin-top: 150px;
}

/* Header */
.ma-title {
  font-weight: 400;
  font-size: 48px;
  color: var(--primary-color);
}

.ma-description {
  margin-top: 14px;
  font-weight: 300;
  font-size: 18px;
  color: var(--text-description);
}

/* Items */
.ma-item {
  display: flex;
}

.ma-item:nth-child(odd) {
  flex-direction: row-reverse;
  margin-top: 60px;
}

.ma-item:nth-child(even) {
  margin-top: 101.5px;
}

/* Item Data */
.ma-item-data {
  flex: 1;
}

.ma-item:nth-child(odd) .ma-item-data {
  margin-top: 207px;
  margin-bottom: 200px;
  padding-left: 40px;
border-left: 1px solid var(--primary-color);


}

.ma-item:nth-child(even) .ma-item-data {
  padding-right: 50px;
   margin-bottom: 200px;
  border-right: 1px solid var(--primary-color)

}

/* Image Wrapper */
.ma-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 664px;
  height: 621px;
  border-radius: 50px 50px 20px 20px;
  border: 1px solid #262626;
  background: linear-gradient(
      267.5deg,
      #1C1C1C 40.67%,
      rgba(28, 28, 28, 0) 99.81%
    ),
    linear-gradient(
      106.06deg,
      rgba(202, 255, 51, 0.05) -29.45%,
      rgba(202, 255, 51, 0) 27.86%
    );
}

.ma-item:nth-child(even) .ma-image-wrapper {
  margin-top: -208.5px;
}

/* Images */
.ma-bg-image {
  position: absolute;
  width: 634px;
  height: 602px;
}

.ma-item-image {
  width: 544px;
  height: 561px;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
  border-radius: 50px 50px 0 0;
  z-index: 2;
}

/* Text */
.ma-item-title {
  font-weight: 500;
  font-size: 38px;
}

.ma-item-text {
  margin-top: 14px;
  font-weight: 300;
  font-size: 18px;
}

/* =======================
   Responsive - 1440px
======================= */
@media screen and (max-width: 1440px) {
  .ma-mission-vision-container {
    margin: 0 80px;
    margin-top: 120px;
  }

  .ma-title {
    font-size: 38px;
  }

  .ma-description {
    margin-top: 10px;
    font-size: 16px;
  }

  .ma-item:nth-child(odd) .ma-item-data {
    margin-top: 161px;
  }
  

  .ma-image-wrapper {
    width: 545px;
    height: 500px;
  }

  .ma-bg-image {
    width: 526px;
    height: 500px;
  }

  .ma-item-image {
    width: 425px;
    height: 440px;
  }

  .ma-item-title {
    font-size: 32px;
  }

  .ma-item-text {
    margin-top: 10px;
    font-size: 16px;
  }

  .ma-item:nth-child(even) .ma-image-wrapper {
    margin-top: -208.5px;
  }
}

/* =======================
   Responsive - 992px
======================= */
@media screen and (max-width: 992px) {
  .ma-mission-vision-container {
    margin: 0 16px;
    margin-top: 80px;
    text-align: center;
    
  }

  .ma-item,
  .ma-item:nth-child(odd) {
    flex-direction: column-reverse;
    align-items: center;
  }

  .ma-title {
    font-size: 28px;
  }

  .ma-description {
    margin-top: 10px;
    font-size: 14px;
  }

  .ma-image-wrapper {
    width: 100%;
    height:329px

  }

  .ma-bg-image {
    width: 100%;
    height: 100%;
  }

  .ma-item-image {
    
    object-fit: contain;
    object-position: bottom center;
    margin-top: 20px;
    width: 88.82%;
    max-height: 309px;
    object-fit: contain;
  }

  .ma-item:nth-child(odd) .ma-item-data,
  .ma-item:nth-child(even) .ma-item-data {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    border-left:none ;
    border-right: none;
    border-top: 1px solid var(--primary-color)
  }

  .ma-item:nth-child(even) {
    margin-top: 50px;
  }

  .ma-item:nth-child(even) .ma-image-wrapper {
    margin-top: 0;
  }

  .ma-item-title {
    font-size: 26px;
  }

  .ma-item-text {
    font-size: 14px;
  }
}
