.hs-pr-section-container {
  margin: 0 auto;
  width: 95%;
  max-width: 1596px;
}

.hs-pr-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 783px));
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.hs-section-margin {
  margin-top: 150px;
  margin-bottom: 150px;
}

@media (max-width: 1440px) {
  .hs-pr-section-container {
    max-width: 1280px;
  }

  .hs-pr-container {
    grid-template-columns: repeat(2, minmax(0, 667px));
    gap: 20px;
  }

  .hs-section-margin {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

@media (max-width: 992px) {
  .hs-pr-container {
    grid-template-columns: 1fr;
  }

  .hs-section-margin {
    margin-top: 80px;
    margin-bottom: 80px;

  }
}
